@use "colors" as c;

window.Bar {
  background: transparent;
  color: c.$fg;
  font-weight: 400;
  margin: 4px;

  .main {
    background: c.$bar_bg;
    border-radius: 12px;
    padding: 6px 12px 6px 6px;
    border: 1px solid c.$border;

    .workspace-button {
      background-color: c.$fg;
      border-radius: 100%;

      &.focused {
        background-color: c.$accent;
        min-width: 24px;
        border-radius: 12px;
      }

      &.urgent {
        background-color: c.$destructive;
      }
    }

    .volume-popover {
      padding: 2px;

      .volume-settings-button {
        border-radius: 100%;
        padding: 12px;
        background-color: c.$lightest_bg;
      }

      .volume-settings-button:hover {
        background-color: c.$hover_bg;
      }
    }

    .player-selection {
      .player-selection-button {
        padding: 8px;
        border-radius: 8px;
        background-color: c.$lightest_bg;
      }

      .player-selection-button:hover {
        background-color: c.$hover_bg;
      }
    }

    .player-popover > contents {
      padding: 0px;
    }

    .player-container {
      padding: 16px;

      .play-button {
        background: c.$accent;
        border-radius: 4px;
      }

      .shuffle-enabled {
        color: c.$accent;
      }

      .playlist-loop {
        color: c.$accent;
      }

      .track-loop {
        color: c.$destructive;
      }
    }

    .song-progress {
      color: c.$fg;
    }

    .cava {
      color: c.$accent;
    }

    .powerprofile {
      padding: 16px;
      border-radius: 8px;
      background: c.$lightest_bg;
      transition: 200ms;
      border: 2px solid transparent;
    }

    .performance:hover,
    .performance.active {
      border-color: c.$destructive_bg;
      color: c.$destructive_bg;
    }

    .balanced:hover,
    .balanced.active {
      border-color: c.$accent_bg;
      color: c.$accent_bg;
    }

    .powersaver:hover,
    .powersaver.active {
      border-color: c.$success_bg;
      color: c.$success_bg;
    }

    .network-button {
      padding: 10px;
      border-radius: 8px;
      border: 2px solid transparent;
      transition: 200ms;

      &.active {
        background: c.$lightest_bg;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border: solid c.$border;
        border-width: 2px 2px 0px 2px;
      }

      &:hover {
        background: c.$lightest_bg;
      }
    }

    .network-dropdown {
      padding: 0px 8px 8px 8px;
      background: c.$lightest_bg;
      border: solid c.$border;
      border-width: 0px 2px 2px 2px;
      border-radius: 0 0 8px 8px;

      .info-button {
        color: c.$accent;
        border: 2px solid c.$accent;
        padding: 4px;
        border-radius: 100px;

        &:hover {
          background-color: c.$accent;
          color: c.$accent_fg;
        }
      }

      .connect-button {
        border: 2px solid c.$fg;
        padding: 4px;
        border-radius: 100px;

        &:hover {
          background-color: c.$fg;
          color: c.$accent_fg;
        }

        &.disconnect {
          border-color: c.$destructive;
          color: c.$destructive;

          &:hover {
            background-color: c.$destructive;
            color: c.$accent_fg;
          }
        }
      }
    }

    .module {
      border-radius: 100px;
      transition: 200ms;
      padding: 0px 12px 0px 12px;
      background: c.$bar_bg;
      border: 1px solid c.$border;
    }

    levelbar {
      block.full {
        background-color: c.$success_bg;
      }

      block.good {
        background-color: c.$accent_bg;
      }

      block.medium {
        background-color: var(--orange-1);
      }

      block.low {
        background-color: c.$destructive_bg;
      }
    }

    .dropdown {
      padding: 8px;
      border-radius: 8px;
      background-color: c.$lightest_bg;
    }

    .dropdown:hover {
      background-color: c.$hover_bg;
    }
  }
}
