@use "bar";
@use "colors" as c;
@use "volume-indicator";

.base-container {
  background-color: c.$lightest_bg;
  border-radius: 16px;
  padding: 12px;
}

scale trough highlight {
  background: c.$accent;
}

levelbar trough block.filled {
  background: c.$accent;
}

popover > contents {
  background-color: c.$bg;
  padding: 12px;
}
popover {
  margin-top: 8px;
}

button {
  background: transparent;
  border-radius: 0px;
  font-weight: 400;
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
}

.font-small {
  font-size: 16px;
  color: c.$dark-text;
}
